<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="settings-menu">
      <h3 style="padding-top: 10px; padding-left: 25px">Account</h3>
      <a class="Box_Component">
        <div role="button" class="RowButton">
          <div class="svg-container-left">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
            >
              <g clip-path="url(#clip0_87_4)">
                <path
                  d="M15.5978 2.85163C15.8534 2.58567 16.1596 2.37337 16.4983 2.22717C16.837 2.08096 17.2015 2.00378 17.5704 2.00014C17.9393 1.99649 18.3052 2.06647 18.6467 2.20596C18.9882 2.34546 19.2985 2.55167 19.5594 2.81253C19.8202 3.0734 20.0265 3.38367 20.1659 3.7252C20.3054 4.06673 20.3754 4.43264 20.3718 4.80154C20.3681 5.17044 20.291 5.53491 20.1447 5.87362C19.9985 6.21232 19.7862 6.51847 19.5203 6.77413L8.20861 18.0858C7.80028 18.4941 7.30695 18.8083 6.76278 19.005L3.11611 20.3225C2.96728 20.3762 2.80623 20.3864 2.65181 20.3519C2.49738 20.3174 2.35596 20.2397 2.24408 20.1278C2.1322 20.0159 2.05448 19.8745 2.02001 19.7201C1.98555 19.5657 1.99575 19.4046 2.04945 19.2558L3.36695 15.6091C3.56352 15.0656 3.87734 14.572 4.28611 14.1633L15.5978 2.85163ZM18.3419 4.02996C18.2391 3.92706 18.117 3.84543 17.9826 3.78973C17.8482 3.73404 17.7041 3.70537 17.5586 3.70537C17.4131 3.70537 17.2691 3.73404 17.1347 3.78973C17.0002 3.84543 16.8781 3.92706 16.7753 4.02996L5.46528 15.3416C5.22945 15.5775 5.04861 15.8616 4.93528 16.175L4.22111 18.1516L6.19695 17.4375C6.51053 17.3242 6.79532 17.1432 7.03111 16.9075L18.3419 5.5958C18.5495 5.38812 18.6661 5.10651 18.6661 4.81288C18.6661 4.51925 18.5495 4.23764 18.3419 4.02996Z"
                  fill="#A7A7A7"
                />
              </g>
              <defs>
                <clipPath id="clip0_87_4">
                  <rect width="20" height="20" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="menu-label">Username</div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.45523 0.704987C7.24455 0.915925 7.12622 1.20186 7.12622 1.49999C7.12622 1.79811 7.24455 2.08405 7.45523 2.29499L17.1602 12L7.45523 21.705C7.3447 21.808 7.25605 21.9322 7.19456 22.0702C7.13307 22.2082 7.10001 22.3571 7.09734 22.5082C7.09468 22.6593 7.12246 22.8093 7.17905 22.9494C7.23563 23.0895 7.31984 23.2167 7.42667 23.3235C7.5335 23.4304 7.66075 23.5146 7.80083 23.5712C7.94092 23.6278 8.09096 23.6555 8.24201 23.6529C8.39307 23.6502 8.54204 23.6171 8.68004 23.5557C8.81804 23.4942 8.94224 23.4055 9.04523 23.295L20.3402 12L9.04523 0.704987C8.83429 0.494311 8.54836 0.375977 8.25023 0.375977C7.9521 0.375977 7.66617 0.494311 7.45523 0.704987Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
      </a>
      <a class="Box_Component">
        <div role="button" class="RowButton">
          <div class="svg-container-left">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_90_2)">
                <path
                  d="M21.75 3H2.25C1.65326 3 1.08097 3.23705 0.65901 3.65901C0.237053 4.08097 0 4.65326 0 5.25L0 18.75C0 19.3467 0.237053 19.919 0.65901 20.341C1.08097 20.7629 1.65326 21 2.25 21H21.75C22.3467 21 22.919 20.7629 23.341 20.341C23.7629 19.919 24 19.3467 24 18.75V5.25C24 4.65326 23.7629 4.08097 23.341 3.65901C22.919 3.23705 22.3467 3 21.75 3ZM21.21 4.5L12 11.0775L2.79 4.5H21.21ZM22.5 18.75C22.5 18.9489 22.421 19.1397 22.2803 19.2803C22.1397 19.421 21.9489 19.5 21.75 19.5H2.25C2.05109 19.5 1.86032 19.421 1.71967 19.2803C1.57902 19.1397 1.5 18.9489 1.5 18.75V5.4225L11.565 12.6075C11.692 12.6979 11.8441 12.7465 12 12.7465C12.1559 12.7465 12.308 12.6979 12.435 12.6075L22.5 5.4225V18.75Z"
                  fill="#A7A7A7"
                />
              </g>
              <defs>
                <clipPath id="clip0_90_2">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="menu-label">Email</div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.45523 0.704987C7.24455 0.915925 7.12622 1.20186 7.12622 1.49999C7.12622 1.79811 7.24455 2.08405 7.45523 2.29499L17.1602 12L7.45523 21.705C7.3447 21.808 7.25605 21.9322 7.19456 22.0702C7.13307 22.2082 7.10001 22.3571 7.09734 22.5082C7.09468 22.6593 7.12246 22.8093 7.17905 22.9494C7.23563 23.0895 7.31984 23.2167 7.42667 23.3235C7.5335 23.4304 7.66075 23.5146 7.80083 23.5712C7.94092 23.6278 8.09096 23.6555 8.24201 23.6529C8.39307 23.6502 8.54204 23.6171 8.68004 23.5557C8.81804 23.4942 8.94224 23.4055 9.04523 23.295L20.3402 12L9.04523 0.704987C8.83429 0.494311 8.54836 0.375977 8.25023 0.375977C7.9521 0.375977 7.66617 0.494311 7.45523 0.704987Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
      </a>
      <a class="Box_Component">
        <div role="button" class="RowButton">
          <div class="svg-container-left">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M6 6C6 4.4087 6.63214 2.88258 7.75736 1.75736C8.88258 0.632141 10.4087 0 12 0C13.5913 0 15.1174 0.632141 16.2426 1.75736C17.3679 2.88258 18 4.4087 18 6V10.5H19.875C21.324 10.5 22.5 11.676 22.5 13.125V21.375C22.5 22.0712 22.2234 22.7389 21.7312 23.2312C21.2389 23.7234 20.5712 24 19.875 24H4.125C3.42881 24 2.76113 23.7234 2.26884 23.2312C1.77656 22.7389 1.5 22.0712 1.5 21.375V13.125C1.5 11.676 2.676 10.5 4.125 10.5H6V6ZM8.25 10.5H15.75V6C15.75 5.00544 15.3549 4.05161 14.6517 3.34835C13.9484 2.64509 12.9946 2.25 12 2.25C11.0054 2.25 10.0516 2.64509 9.34835 3.34835C8.64509 4.05161 8.25 5.00544 8.25 6V10.5ZM4.125 12.75C4.02554 12.75 3.93016 12.7895 3.85984 12.8598C3.78951 12.9302 3.75 13.0255 3.75 13.125V21.375C3.75 21.582 3.918 21.75 4.125 21.75H19.875C19.9745 21.75 20.0698 21.7105 20.1402 21.6402C20.2105 21.5698 20.25 21.4745 20.25 21.375V13.125C20.25 13.0255 20.2105 12.9302 20.1402 12.8598C20.0698 12.7895 19.9745 12.75 19.875 12.75H4.125Z"
                fill="#A7A7A7"
              />
            </svg>
          </div>
          <div class="menu-label">Password</div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.45523 0.704987C7.24455 0.915925 7.12622 1.20186 7.12622 1.49999C7.12622 1.79811 7.24455 2.08405 7.45523 2.29499L17.1602 12L7.45523 21.705C7.3447 21.808 7.25605 21.9322 7.19456 22.0702C7.13307 22.2082 7.10001 22.3571 7.09734 22.5082C7.09468 22.6593 7.12246 22.8093 7.17905 22.9494C7.23563 23.0895 7.31984 23.2167 7.42667 23.3235C7.5335 23.4304 7.66075 23.5146 7.80083 23.5712C7.94092 23.6278 8.09096 23.6555 8.24201 23.6529C8.39307 23.6502 8.54204 23.6171 8.68004 23.5557C8.81804 23.4942 8.94224 23.4055 9.04523 23.295L20.3402 12L9.04523 0.704987C8.83429 0.494311 8.54836 0.375977 8.25023 0.375977C7.9521 0.375977 7.66617 0.494311 7.45523 0.704987Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
      </a>
      <a class="Box_Component">
        <div role="button" class="RowButton">
          <div class="svg-container-left">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_90_20)">
                <path
                  d="M4.65697 16.7421C7.16394 16.7421 9.64106 16.7387 12.1182 16.7434C13.803 16.7465 15.0499 18.0558 14.9811 19.7365C14.922 21.1807 13.7 22.3571 12.1824 22.3669C9.27765 22.3856 6.37261 22.3827 3.4678 22.3669C2.35088 22.3609 1.49453 21.8411 0.978599 20.8497C0.461744 19.8565 0.539809 18.8621 1.17514 17.9423C1.7134 17.163 2.49267 16.7839 3.43341 16.7456C3.8307 16.7294 4.22918 16.7423 4.65697 16.7421Z"
                  fill="#A7A7A7"
                />
                <path
                  d="M18.9806 10.6358C20.0072 12.5509 18.7026 14.8028 16.5588 14.8156C13.6454 14.8331 10.7317 14.8252 7.81823 14.8175C6.54505 14.8142 5.45822 13.9888 5.13032 12.8084C4.78143 11.5524 5.26845 10.2775 6.37371 9.60759C6.80405 9.34674 7.28162 9.20848 7.7912 9.20838C10.7147 9.20783 13.6382 9.19684 16.5616 9.21364C17.6143 9.21969 18.423 9.70973 18.9806 10.6358Z"
                  fill="#A7A7A7"
                />
                <path
                  d="M9.50386 5.35065C9.09359 3.76457 9.81913 2.3061 11.2653 1.8218C11.5616 1.72258 11.8881 1.67169 12.201 1.67048C15.0942 1.65923 17.9875 1.65901 20.8807 1.66584C22.2234 1.66901 23.3409 2.56461 23.6267 3.83924C23.9161 5.12942 23.3193 6.42868 22.1078 6.98868C21.7078 7.17358 21.2297 7.26424 20.7862 7.26809C17.9727 7.29252 15.1588 7.28112 12.3451 7.28032C10.9623 7.27993 10.0347 6.65493 9.50386 5.35065Z"
                  fill="#A7A7A7"
                />
              </g>
              <defs>
                <clipPath id="clip0_90_20">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="menu-label">Manage Subscription</div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.45523 0.704987C7.24455 0.915925 7.12622 1.20186 7.12622 1.49999C7.12622 1.79811 7.24455 2.08405 7.45523 2.29499L17.1602 12L7.45523 21.705C7.3447 21.808 7.25605 21.9322 7.19456 22.0702C7.13307 22.2082 7.10001 22.3571 7.09734 22.5082C7.09468 22.6593 7.12246 22.8093 7.17905 22.9494C7.23563 23.0895 7.31984 23.2167 7.42667 23.3235C7.5335 23.4304 7.66075 23.5146 7.80083 23.5712C7.94092 23.6278 8.09096 23.6555 8.24201 23.6529C8.39307 23.6502 8.54204 23.6171 8.68004 23.5557C8.81804 23.4942 8.94224 23.4055 9.04523 23.295L20.3402 12L9.04523 0.704987C8.83429 0.494311 8.54836 0.375977 8.25023 0.375977C7.9521 0.375977 7.66617 0.494311 7.45523 0.704987Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
      </a>
      <a class="Box_Component">
        <div role="button" class="RowButton">
          <div class="svg-container-left">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_90_8)">
                <path
                  d="M10.785 1.50004C10.7844 1.27736 10.8501 1.05955 10.9736 0.874256C11.0971 0.688966 11.2729 0.544558 11.4787 0.459368C11.6844 0.374178 11.9108 0.352049 12.1292 0.395791C12.3475 0.439532 12.5479 0.547172 12.705 0.705041L24 11.985L12.705 23.2665C12.5235 23.4606 12.2792 23.5842 12.0153 23.6154C11.7514 23.6466 11.485 23.5834 11.2632 23.4369C11.0415 23.2905 10.8788 23.0703 10.8039 22.8153C10.7289 22.5604 10.7467 22.2872 10.854 22.044C10.9156 21.9063 11.0044 21.7823 11.115 21.6795L19.695 13.1085H1.12497C0.972546 13.1164 0.820113 13.0932 0.676947 13.0403C0.533782 12.9874 0.402879 12.9059 0.292204 12.8008C0.18153 12.6957 0.0933988 12.5692 0.0331751 12.4289C-0.0270486 12.2887 -0.0581055 12.1377 -0.0581055 11.985C-0.0581055 11.8324 -0.0270486 11.6814 0.0331751 11.5411C0.0933988 11.4009 0.18153 11.2744 0.292204 11.1693C0.402879 11.0642 0.533782 10.9827 0.676947 10.9298C0.820113 10.8769 0.972546 10.8537 1.12497 10.8615H19.695L11.115 2.29354C11.0104 2.18922 10.9274 2.06531 10.8708 1.9289C10.8142 1.79248 10.785 1.64774 10.785 1.50004Z"
                  fill="#A7A7A7"
                />
              </g>
              <defs>
                <clipPath id="clip0_90_8">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="menu-label">Logout</div>
          <div class="svg-container">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M7.45523 0.704987C7.24455 0.915925 7.12622 1.20186 7.12622 1.49999C7.12622 1.79811 7.24455 2.08405 7.45523 2.29499L17.1602 12L7.45523 21.705C7.3447 21.808 7.25605 21.9322 7.19456 22.0702C7.13307 22.2082 7.10001 22.3571 7.09734 22.5082C7.09468 22.6593 7.12246 22.8093 7.17905 22.9494C7.23563 23.0895 7.31984 23.2167 7.42667 23.3235C7.5335 23.4304 7.66075 23.5146 7.80083 23.5712C7.94092 23.6278 8.09096 23.6555 8.24201 23.6529C8.39307 23.6502 8.54204 23.6171 8.68004 23.5557C8.81804 23.4942 8.94224 23.4055 9.04523 23.295L20.3402 12L9.04523 0.704987C8.83429 0.494311 8.54836 0.375977 8.25023 0.375977C7.9521 0.375977 7.66617 0.494311 7.45523 0.704987Z"
                fill="white"
              />
            </svg>
          </div>
        </div>
      </a>
    </div>
  </body>
</html>
