<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>Home</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="bubble">
      <div class="container-fluid  d-flex  vh-100 row ">
        <section class="right-side h-100 d-flex align-items-center col-sm col-md-6">
          <div class="wrap h-50 px-5">
            <h1 class="hello-display">
              <% if (user) { %>
                Hello <%= user.name %>
              <% } else { %>
                Hello
              <% } %>
            </h1>
            <div class="Trending Songs">
              <h1 class="subtitle">Trending Songs</h1>
            </div>
            <div class="boxes">
              <div class="row">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
              </div>
              <div class="row">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
              </div>
            </div>
          </div>
          </div>
        </section>
      </div>
    </div>
  </body>
  <footer>
    <p>&copy; 2023 Skelation. All rights reserved.</p>
  </footer>
</html>
